#redtree{
    position: absolute;
    top: 126px;

}/* Write the CSS for you answer here */
#redball{
    position: absolute;
    top: 300px;
    left: 50px;
}

#blueball{
    position: absolute;
    top: 215px;
    left: 109px;
}

#darkblue{
    position: absolute;
    top: 260px;
    left: 270px;
}


#greenball{
    position: absolute;
    top: 210px;
    left: 380px;
}

#orangeball{
    position: absolute;
    top: 260px;
    left: 520px;
}
#pinkball{
    position: absolute;
    top: 290px;
    left:350px;
}